.page-header {
    background-color: #652596;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: 'Space Mono', monospace;
    width: 50%;
    margin: auto;

}

.page-header h1 {
    color: #FFFFFF;
}

.container {
    font-family: 'Space Mono', monospace;
}

.container h2 {
    color: #2c9394;
}